@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px 0px 0px 0px;
    font-family: "MinSans-Medium";
    text-align: center;
}

#copyright{
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-color: #000;
    color: #fff;
    bottom: -1px;

}